@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-8">
        <p>
            Any files uploaded to this website, and the generated spreadsheet, are not retained through your use of this website.<br />
            Uploaded images and the generated spreadsheet are accessible by the website only for as long as it takes to generate and transmit the spreadsheet back to your browser.<br/>
            You, and you alone, are responsible for anything you do upload.
        </p>
        <p class="small">
            (The basic version: I'm not interested in keeping your pictures, and I'm trying to run this site as cheaply as possible - which means not paying for storage to collect everyone's photos).
        </p>
    </div>
</div>
<div class="row">
    <div class="col-1">
        <br/>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <p>
            This website uses Azure Application Insights for telemetry and other diagnostic data
            to help me keep the website running optimally and fix any issues that come up.
        </p>
        <p>
            You can read more on Azure Application Insights, what data it collects,
            where it's stored and for how long on <a href="https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-retention-privacy" target="_blank">Microsoft's documentation page</a>.
        </p>
    </div>
</div>
